#App {
  text-align: center;
  width:100%;
  height:100%;
  display:flex;
  position:absolute;
}

#content.editor-collapsed{
  width:80%;
  margin-left: 15%;
}

#content.editor-open{
  width:70%;
  margin-left: 25%;

}

.light{
  background:white;
  color:black;
}

.dark{
  background: black;
  color:white;
}

#login_container{
  text-align: center;
  border: 5px solid #4f7967;
  background:#62a488;
  color:white;
  border-radius:10px;
  padding:10px;
  margin:auto;
  width:50%;
  height:50%;
  padding-top:50px;
}

#username, #password{
  
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar::-webkit-scrollbar {
  display: none;
}

.Sidebar {
  position: fixed;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin:0;
  padding:0;
  top:0;
  left:0;
}

.Sidebar.collapsed {
  height: 60px;
  width: 10%;
  background-color: #4f796700;
}

.Sidebar.open {
  height: 100%;
  width: 20%;
  background-color: #4f7967;
}

.SidebarLink{
  color:white;
  text-decoration: none;
}

.SidebarList {
  height: auto;
  margin:0;
  padding: 0;
  width: 100%;
  
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #62a488;
}

.SidebarList .row {
  background-color: #62a488;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
  height: 60px;
  width: 100%;
  border: 2px solid #4f7967;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row #name {
  flex: 70%;
  display: grid;
  place-items: center;
}


.Navbar{
  top:0;
  width:100%;
  height:5%;
  position: absolute;
  background:black;
  color:white;
  top:0;
  padding:0;
  margin:0;
  overflow: hidden;
}

.NavbarItem{
  color:white;
  float:left;
  padding:5px;
}

.OptionsMenu{
  position:fixed;
  background-color: transparent;
  display: flex;
}

.OptionsMenuItem{
  flex: 1;
  border: 1px solid black;
  padding: 20px;
  display: flex;
}

#primaryTextBox{
  position:relative;
  height: 400px;
  width:80%;
  margin: 50px;
}

#wysiwyg-edtitor{
  height:200px;
  width:100%;
}